{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="container">
    <h2>Comunicación</h2>
    <nav>
        <a href="{{ url_for('mantenimiento.list_mantenimiento') }}" class="button">🏠 Mantenimiento</a>
        <a href="{{ url_for('chat.chat_general') }}" class="button">💬 Chat General</a>
        <a href="{{ url_for('chat.notificaciones') }}" class="button notification-link">
            🔔 Notificaciones
            <span id="notification-badge" class="notification-badge" style="display: none;">0</span>
        </a>
    </nav>
</div>
{% block comunicacion_content %}{% endblock %}
{% endblock %}